.note {
    &__content_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        flex-grow: 1;
    }
}

//пользовательский контент в режиме редлактирования
.note .note__content.editable {
    width: 100%;
}

//пользовательский контент
.note .note__content {
    width: initial;
}

//пользовательский пустрой контент
.note .note__content[class~="text_empty"] {
    width: 100%;
}

// заголовок
.note .note__head {
    text-align: center;
    align-self: center;
}

// текст
.note .note__text {
    text-align: left;
    align-self: flex-start;
}

.note .note__editBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 5px;
}
