.NoteTableEditDialog__descInput {
    width: 66%;
}

.NoteTableEditDialog__list .MuiListItem-root {
    padding: 10px 0px;
    column-gap: 20px;
}

.NoteTableEditDialog__list .MuiSelect-select {
    min-width: "160px";
}
