.Table {
    overflow: auto;
}

// таблица в режиме редактирования
.Table--editMode {
    .Table__header_inner_container {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
}

.Table__table {
    margin-top: 5px;
    border-collapse: collapse;
    table-layout: auto;
}

.Table__body,
.Table__header {
    border: 1px solid rgb(0, 0, 0);
}

.Table__header_inner_container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.Table__header_inner_container,
.Table__body_inner_container {
    line-height: 0;
}

.Table__view_controls {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.Table__header_sort_button {
    font-size: 1.2rem;
}
