.MuiTypography-root.EditableText--bg-light {
    background-color: #0000000d;
    padding: 5px;
    border-radius: 5px;
}

.MuiTypography-root.EditableText--bg-dark {
    background-color: #00000029;
    padding: 5px;
    border-radius: 5px;
}

.MuiTypography-root.EditableText--noFormat {
    white-space: break-spaces;
}

.MuiTypography-root.EditableText--font-code {
    font-family: monospace;
}
